.header {
    background-color: rgb(161, 59, 59);
    margin: auto -10px;
    padding: 10px 20px;
    box-shadow: 0 0 2px 0 rgb(110, 110, 110);
    flex-direction: row;
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
  }